.galerie{
    background-color: black;
    top: 235px;
    left: 0px;
    width: 1920px;
    height: 916px;
}
.top{
    height: 20vh;
    background-color: white;
}
.titre{
    font-size: 60px;
    font-family: 'Playfair Display';
    color: #644A82;
    font-weight: bold;
}
.carousel-item{
    height: 142px;
    width: 226px;
}
.carousel{
    width: 300px;
}