.body {  
  background: rgb(0, 0, 0);
  height: 916px;
}

.titre-galerie {
  font-size: 60px;
  height: 9rem;
  font-family: 'Playfair Display';
  text-align: center;
  display: flex;
  color: #644A82;
  font-weight: bold;
  background-color: white;
}

.text-galerie {
  margin-left: 52rem;
  margin-top: 1.5rem;
}


body {
  font-family: 'Playfair Display';
}

.carou{
    width: 180px;
    border: 5px solid var(--unnamed-color-f2d7ee);
    border: 5px solid #F2D7EE;
    border-radius: 10px;
    opacity: 1;
    margin-top: 2%;
    margin-right: 15rem;
    float: right;
}

.visualiseuse{
  float: left;
  margin-left: 32rem;
  margin-top: 2%;  
  border: 5px solid #F2D7EE;
}

