.divimg1{
    position: relative;
    margin: 50px;
    left: 100px;
    display : flex;
    
}

img{
    width: 250px;
    height: 400px;
    border-radius: 30px;
}

.text{
    position: absolute;
    color: blue;
    left: 250px;
    z-index: 1;
    width: auto;
    height: auto;

}

