
 .card{
    border: none;
    margin-top: 55px;
    margin-left: 12px;
    transition-duration: 500ms;
    background-color: transparent;
 
 }

 .groupe{
    display: inline-flex;
    margin-bottom: 50px;
 }

 .textforfait{
   position: absolute;
   margin-top: 55px;
   margin-left: 610px;
   font: normal normal bold 36px/48px Playfair Display;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   transition-duration: 500ms;
 }
.textdanses{
    position: absolute;
    margin-top: 55px;
    margin-left: 80px;
    font: normal normal bold 36px/48px Playfair Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    transition-duration: 500ms;
}

.textfitness{
   position: absolute;
   margin-top: 55px;
   margin-left: 340px;
   font: normal normal bold 36px/48px Playfair Display;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   transition-duration: 500ms;
}

 .card-img-top{
    width: 250px;
    height: 400px;
    border-radius: 20px;
    
 }

 .card-img-top:hover{
   transform: scaleX(1.5)
 }
 .card-text{
    color : white;
    opacity: 1;
 }

 .titlecours{
   padding-top: 30px;
   color : #644A82;
   opacity: 1;
   letter-spacing: 0px;
   font: normal normal 60px/80px Playfair Display;
   
 }

 header{
   background-color: #F2D7EE;
   background-image: url("fond.svg");
   background-size: 80%;
   background-position: 140px -10px;
   height: 850px;
 
   background-repeat: no-repeat;
   margin-bottom: 100px;


 }
 .vague{
   padding-top: 100px;
 }


