@import url('https://fonts.cdnfonts.com/css/alice-2');
.centrage {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 25px;
    margin-top: 13%;
    margin-bottom: 22%;
}

.text-haut {
    font-family: 'Alice', sans-serif;
    color: #644A82;
}

.button-bas {
    background-color: #644A82;
    width: 270px;
    height: 50px;
    font-size: 25px;
    color: white;
    border-radius: 200px;
}