.footer {
    /* UI Properties */
    background: #000000;
    flex-direction: column;
    height:400px
}

.column {
    float: left;
    text-align: center;
}

.footerH1 {
    color: #ffffff;
    margin-top: 15%;
    margin-bottom: 10%;
}

.text {
    color: #ffffff;
    display: block;
}

.socialIcon {
    margin-top: 7%;
}

.leaflet-container2{
    height: 270px !important;
    width: 900px;
    
}

.map {
    width: 100%;
    padding-top: 1.5%;
}

