.cardCours{
    color: white;
    background-color:#644A82;
    border-radius: 20px;
    height: 350px;
    width: 250px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}
.flip-card-flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }
.flip-card-front,
.flip-card-back {
  position: absolute;
  
  backface-visibility: hidden;
}

.cardCours .titreCours{
    text-align: left;
    font-size: 24px;
    padding: 20px 15px 0 15px;
    margin-bottom: 0;
    font-weight: bold;
}
.imgCours{
background-image:
    linear-gradient(to bottom, rgba(100, 74, 130, 1),rgba(100, 74, 130, 0), rgba(100, 74, 130, 1)),
    url('../../images/Galerie/DAN_0809inv@2x.png'); 
width: 100%;
height: 100%;

}
.imgCours2{
    background-image:
        
        url('../../images/Galerie/DAN_0809inv@2x.png'); 
    width: 100%;
    height: 100%;
    
    }

.imgCours p{
    font-family: Alice;
    font-size: 14px;
    opacity: 0;
    padding: 15px;
}

.cardCours:hover .imgCours{
    background-image:
    linear-gradient(to bottom, rgba(100, 74, 130, 1),rgba(100, 74, 130, 0.75), rgba(100, 74, 130, 1)),
    url('../../images/Galerie/DAN_0809inv@2x.png');
}

.cardCours:hover .imgCours p{
    opacity: 1;
    font-size: 14px;
}

.cardCours2{
    border-radius: 20px;
    height: 350px;
    width: 250px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flecheRe{
width: 25%;
height: auto;
padding: 5px 15px 20px 0;
align-self: end;
margin-top: auto;

}

/* .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */

.CardContainer{
    width: max-content;
}